body{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(150px, auto));
    grid-gap: 10px;
    max-width: 960px;
    margin: 0;
}
#content div{
    background: gray;
    padding: 30px;
}
#content div:nth-child(odd){
    background: black;
} 
.nested{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.nested p{
    border: 1px solid #fff;
    padding: 20px;
    margin: 0;
}
.one{
    align-self: center; /* top to bottom */
    justify-self: center; /* left to right */
}