body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1550' preserveAspectRatio='none' viewBox='0 0 1440 1455'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='1440' height='1455' x='0' y='0' fill='url(%23SvgjsLinearGradient1085)'%3e%3c/rect%3e%3cpath d='M1440 0L1347.07 0L1440 73.34z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1347.07 0L1440 73.34L1440 818.94L724.3199999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M724.3199999999999 0L1440 818.94L1440 973.35L687.9799999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M687.9799999999999 0L1440 973.35L1440 974.4L304.6599999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1455L339.21 1455L0 821.72z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 821.72L339.21 1455L605.8199999999999 1455L0 547.1700000000001z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 547.1700000000001L605.8199999999999 1455L735.3399999999999 1455L0 418.5200000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 418.52L735.3399999999999 1455L1057.26 1455L0 193.58999999999997z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1440' height='1455' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-0.26%25' y1='0.26%25' x2='100.26%25' y2='99.74%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1085'%3e%3cstop stop-color='rgba(14%2c 56%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(17%2c 243%2c 73%2c 0.72)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    margin: 0;
}

#container {
    margin: 5% 15% 5% 15%;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #000;
}

.header {
    display: flex;
    background-color: #ffe5c2;
    height: 12vh;
    border-bottom: 2px solid #000;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff0db;
    height: 90vh;
    overflow: hidden;
    border-bottom: 1px solid #000;

}

.first {
    position: absolute;
    height: 35em;
    left: -370px;
    bottom: -30px;
}

.second {
    position: absolute;
    color: #000;
    left: 145px;
    top: 150px;
    z-index: 1;
}

.second .second_text {
    color: #ff980f;
}

.third {
    position: absolute;
    height: 44em;
    right: -180px;
    bottom: -80px;

}

.picture {
    position: absolute;
    height: 30em;
    right: 10px;
    bottom: 50px;
    border-radius: 0 0 100% 150%;
}


.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff0db;
    height: 120vh;
    overflow: hidden;

}

/* Button */

button {
    position: absolute;
    left: 145px;
    bottom: 45px;
    padding: 1.3em 3em;
    height: 4em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #ff980f;
    box-shadow: 0px 15px 20px #000;
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }