@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
    --primary: #506266;
    --secondary: #10454F;
    --tertiary: #A3AB78;
    --ikaupat: #818274;
    --ikalima: #BDE038;
    --test: #e9f3b1;
    --test2: #7a8e30;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
}

#container {
    margin: 5% 15% 5% 15%;
    height: auto;

}

.header {
    display: flex;
    background-color: var(--ikalima);
    height: 12vh;
    border-bottom: 2px solid #000;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--test);
    height: 90vh;
    overflow: hidden;
    border-bottom: 1px solid #000;

}

.first {
    position: absolute;
    height: 35em;
    left: -370px;
    bottom: -30px;
}

.second {
    position: absolute;
    color: var(--secondary);
    left: 135px;
    top: 120px;
    z-index: 1;
}

.second .second_text {
    color: #ff980f;
}

.third {
    position: absolute;
    height: 44em;
    right: -230px;
    bottom: -80px;

}

.picture {
    position: absolute;
    height: 30em;
    right: -5px;
    bottom: 45px;
    border-radius: 0 0 100% 150%;
}


.divider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--test);
    overflow: hidden;

}

.box {
    width: 10rem;
    height: 20rem;
    margin: 5rem;
    padding: 5rem;
    background-color: red;
}



/* Button */

button {
    position: absolute;
    left: 135px;
    bottom: 45px;
    padding: 1.3em 3em;
    height: 4em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: var(--secondary);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: var(--test2);
    box-shadow: 0px 15px 20px #000;
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }