@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@font-face {
    font-family: blurryText;
    src: url(MemphisRiver.ttf);
}

:root {
    --background: #506266;
    --primary: #e9f3b1;
    --secondary: #7a8e30;
    --tertiary: #10454F;
    --quaternary: #d8e6a7;
    --quinary: #4c5e0c;
    --hovering: #b3e209;
    --blob: #A3AB78;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

#container {
    margin: 3% 7% 3% 7%;
    height: auto;

}

.header {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--quaternary);
    height: 12vh;
}

/* Navigation Bar */

.contact {
    position: absolute;
    left: 250px;
}

.contact:hover .dropdown-content {
    display: block;
}

.blogs {
    position: absolute;
    left: 400px
}

.blogs:hover .dropdown-content {
    display: block;
}

.portfolio {
    position: absolute;

}

.portfolio:hover .dropdown-content {
    display: block;
}

.cert {
    position: absolute;
    right: 360px
}

.pixel {
    position: absolute;
    right: 230px
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: var(--quaternary);
    color: var(--tertiary);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--quaternary);
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--hovering);

}

/*** Body ***/
.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    height: 90vh;
    overflow: hidden;
    border-bottom: 1px solid #000;

}

.blurryText {
    position: absolute;
    font-family: blurryText;
    font-size: 150px;
    left: 110px;
    top: -25px;
    opacity: 5%;
    letter-spacing: 10px;
}

.blob {
    position: absolute;
    height: 40em;
    left: -340px;
    bottom: -70px;
    opacity: 30%;
}

.contents {
    position: absolute;
    color: var(--tertiary);
    left: 250px;
    top: 130px;
    z-index: 1;
}

.contents .second_text {
    color: var(--quinary);
}

.contents h1 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.picture {
    position: absolute;
    height: 30em;
    right: 10px;
    border-radius: 0 0 100% 150%;
}


.divider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    overflow: hidden;

}

.box {
    width: 20rem;
    height: 20rem;
    margin: 5rem;
    padding: 5rem;
    background-color: red;
}



/* Button */


.btn {
    left: 250px;
    bottom: 85px;
    position: absolute;
    padding: 1.3em 3em;
    /*height: 4em; 
    font-weight: 500; */
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #fff;
    background-color: var(--tertiary);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: var(--secondary);
    box-shadow: 0px 15px 20px #000;
    color: #fff;
    transform: translateY(-7px);
}

.btn:active {
    transform: translateY(-1px);
}